<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.email.send.dao.UserDao">
    <resultMap id="UserResult" type="User">
        <result property="username" column="USERNAME"/>
        <result property="password" column="PASSWORD"/>
        <result property="age" column="AGE"/>
        <result property="sex" column="SEX"/>
        <result property="email" column="EMAIL"/>
    </resultMap>


    <insert id="insertUser" parameterType="User">
        insert into user
        (
        #{username},
        #{password},
        #{email},
        #(age),
        #{sex}
        )
    </insert>
</mapper>